In [1]:
import pandas as pd
import numpy as np 
import requests
from datetime import date
import os 
import zipfile

In [2]:

url = 'https://www.sec.gov/files/dera/data/financial-statement-and-notes-data-sets/2020q1_notes.zip'
r = requests.get(url, allow_redirects=True)

open('2020_01_notes.zip', 'wb').write(r.content)

512526672

In [5]:
#Create Directory
# Directory 
directory = "2020_01_notes"
  
# Parent Directory path 
#parent_dir = "D:/Pycharm projects/"
  
# Path 
path = os.path.join(os.getcwd(), directory) 
os.mkdir(path) 

newPath = os.path.join(os.getcwd(), '2020_01_notes.zip')
with zipfile.ZipFile(newPath, 'r') as zip_ref:
    zip_ref.extractall(path)

In [6]:
#Read Text File
dataset = pd.read_csv('2020_01_notes/num.tsv',delimiter="\t")
dataset.iloc[0,2]

'invest/2013'

In [7]:
dataset

,adsh,tag,version,ddate,qtrs,uom,dimh,iprx,value,footnote,footlen,dimn,coreg,durp,datp,dcml
0,0000014195-20-000008,DerivativeNonmonetaryNotionalAmount,invest/2013,20191231,0,Btu,0xd510cbd5aa429b08bfe3fe1c1a52fc18,0,4074000.0,NaN,0,1,NaN,0.000000,2.0,-3
1,0000014195-20-000008,DerivativeNonmonetaryNotionalAmount,invest/2013,20190630,0,Btu,0xd510cbd5aa429b08bfe3fe1c1a52fc18,0,7627000.0,NaN,0,1,NaN,0.000000,0.0,-3
2,0001304280-20-000007,DerivativeNonmonetaryNotionalAmount,invest/2013,20191231,0,kt,0xf6fbed989c3bb9822b8e76af01fb70d8,0,28000.0,NaN,0,3,NaN,0.000000,0.0,-3
3,0001304280-20-000007,DerivativeNonmonetaryNotionalAmount,invest/2013,20191231,0,gallon,0xf2bc74768fad377f37b49e8a6500c39a,0,5000000.0,NaN,0,3,NaN,0.000000,0.0,32767
4,0001304280-20-000007,DerivativeNonmonetaryNotionalAmount,invest/2013,20190331,0,gallon,0xf2bc74768fad377f37b49e8a6500c39a,0,8000000.0,NaN,0,3,NaN,0.000000,0.0,32767
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8154864,0001493152-20-005442,WeightedAverageMarketSharePriceOnOptionExercised,0001493152-20-005442,20181231,0,CAD,0xd15bdead07954509cbc79e0fe64dc14b,0,0.7,NaN,0,1,NaN,0.000000,0.0,32767
8154865,0001493152-20-005442,WeightedAverageMarketSharePriceOnOptionExercised,0001493152-20-005442,20181231,0,CAD,0x4b60fcbdeab7194b6dd435301ffb8ca8,0,1.0,NaN,0,1,NaN,0.000000,0.0,32767
8154866,0001493152-20-005442,WitholdingTaxesPaidOnEquitysettledRestrictedSh...,0001493152-20-005442,20191231,4,CAD,0x00000000,0,-9000.0,NaN,0,0,NaN,0.010959,0.0,-3
8154867,0001493152-20-005442,WitholdingTaxesPaidOnEquitysettledRestrictedSh...,0001493152-20-005442,20181231,4,CAD,0x00000000,0,-7000.0,NaN,0,0,NaN,0.010959,0.0,-3
8154868,0001493152-20-005442,WorkingCapitalDeficiency,0001493152-20-005442,20191231,0,CAD,0x00000000,0,233000.0,NaN,0,0,NaN,0.000000,0.0,-3

In [8]:
dataset['cik'] = dataset['adsh'].str.split("-",expand =True)[0]

In [9]:
tickersList = pd.read_csv('https://www.sec.gov/include/ticker.txt',header=None)

In [10]:
tickersList[['ticker','cik']] = tickersList.iloc[:,0].str.split("\t",expand=True)
del tickersList[ 0]
tickersList['cik'] = tickersList['cik'].astype(str)
tickersList['cik'] = tickersList['cik'].str.zfill(10)

In [11]:
tickersList

      ticker         cik
0       aapl  0000320193
1       msft  0000789019
2       amzn  0001018724
3       goog  0001652044
4      tcehy  0001293451
...      ...         ...
11068  znteu  0001823652
11069  zntew  0001823652
11070  znogw  0001131312
11071    zsl  0001415311
11072  zwrku  0001828438

[11073 rows x 2 columns]

In [12]:
result = pd.merge(tickersList, dataset, how="inner", on=["cik", "cik"])

In [14]:
result.to_csv('allTickers.csv', encoding='utf-8', index=False)

In [15]:
result

,ticker,cik,adsh,tag,version,ddate,qtrs,uom,dimh,iprx,value,footnote,footlen,dimn,coreg,durp,datp,dcml
0,aapl,0000320193,0000320193-20-000010,AccountsPayableCurrent,us-gaap/2019,20191231,0,USD,0x00000000,0,4.511100e+10,NaN,0,0,NaN,0.000000,3.0,-6
1,aapl,0000320193,0000320193-20-000010,AccountsPayableCurrent,us-gaap/2019,20190930,0,USD,0x00000000,0,4.623600e+10,NaN,0,0,NaN,0.000000,2.0,-6
2,aapl,0000320193,0000320193-20-000010,AccountsReceivableNetCurrent,us-gaap/2019,20191231,0,USD,0x00000000,0,2.097000e+10,NaN,0,0,NaN,0.000000,3.0,-6
3,aapl,0000320193,0000320193-20-000010,AccountsReceivableNetCurrent,us-gaap/2019,20190930,0,USD,0x00000000,0,2.292600e+10,NaN,0,0,NaN,0.000000,2.0,-6
4,aapl,0000320193,0000320193-20-000010,AccumulatedOtherComprehensiveIncomeLossNetOfTax,us-gaap/2019,20191231,0,USD,0x00000000,0,-4.180000e+08,NaN,0,0,NaN,0.000000,3.0,-6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6077381,ctv,0000068622,0000068622-20-000004,TaxReformPercent,0000068622-20-000004,20171231,4,pure,0x00000000,0,3.100000e-01,NaN,0,0,NaN,0.010959,0.0,3
6077382,ctv,0000068622,0000068622-20-000004,TermLoanCovenantDebttoEBITDARatio,0000068622-20-000004,20191231,4,pure,0x513c2726e0bc48f4f25be4fee95bcfad,0,2.850000e+00,NaN,0,3,NaN,0.010959,0.0,32767
6077383,ctv,0000068622,0000068622-20-000004,UniversalServiceFundsTaxesAndSurcharges,0000068622-20-000004,20191231,4,USD,0x00000000,0,1.250000e+08,NaN,0,0,NaN,0.010959,0.0,-6
6077384,ctv,0000068622,0000068622-20-000004,UniversalServiceFundsTaxesAndSurcharges,0000068622-20-000004,20181231,4,USD,0x00000000,0,1.240000e+08,NaN,0,0,NaN,0.010959,0.0,-6
6077385,ctv,0000068622,0000068622-20-000004,UniversalServiceFundsTaxesAndSurcharges,0000068622-20-000004,20171231,4,USD,0x00000000,0,1.340000e+08,NaN,0,0,NaN,0.010959,0.0,-6

In [18]:
li = list(result.cik.value_counts())

In [19]:
print("No.of.unique values :", 
      len(li))

No.of.unique values : 1981